<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>spittle</title>
<link rel="stylesheet" type="text/css" th:href="@{/resources/style.css}" />
</head>
<body>
	<h1 th:text="#{spittr.spittles.h1}">Recent Spittles</h1>

	<ul th:each="spittle: ${spittleList}">
		<li>Spittle info</li>
	</ul>

	<c:set var="sid" value="0"></c:set>
	<c:forEach items="${spittleList}" var="spittle">
		<c:set var="sid" value="${sid + 1}"></c:set>
		<ul>
			<li><c:out value="${sid}->"></c:out> <c:out value="${spittle.time}"></c:out></li>
			<c:if test="${not empty spittle.message}">
				<c:out value="message: ${spittle.message}"></c:out>
			</c:if>
		</ul>
	</c:forEach>
</body>
</html>