<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spittr</title>
<link rel="stylesheet" type="text/css" th:href="@{/resources/style.css}" />
</head>
<body>
	<h1>Register</h1>
	<!--spitter debe ser una instancia de Spitter ya inyectada en el modelo -->
	<!--spitter sera el 'backing object', es decir, el objeto al cual se puede acceder a sus campos mediante *{} -->
	<!--${} implica expresion variable. #fields es un helper que ayuda a recorrer los campos. El modificador '*' sirve para mostrar TODOS los errores en el formulario -->
	<form method="post" th:object="${spitter}" enctype="multipart/form-data">
		<!-- 	The <form> tag now has its enctype attribute set to multipart/form-data. This tells -->
		<!-- the browser to submit the form as multipart data instead of form data. Each field has -->
		<!-- its own part in the multipart request. -->

		<div class="errors" th:if="${#fields.hasErrors('*')}">
			<ul>
				<!-- se declarara un <li> por cada error encontrado. cada error se guarda en una variable temporal 'err' -->
				<li th:each="err: ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
			</ul>
		</div>


		<!-- Selection expressions *{} are just like variable expressions, except they will be executed on a previously selected object (using th:object=...) 
		instead of the whole context variables map -->
		<label th:text="#{spittr.register.firstName}" th:class="${#fields.hasErrors('firstName')}? 'error'">First Name:</label>
		<input type="text" th:field="*{firstName}" th:error="${#fields.hasErrors('firstName')}? 'error'" />
		<br />

		<label th:text="#{spittr.register.lastName}" th:class="${#fields.hasErrors('lastName')}? 'error'"> Last Name</label>
		:
		<input type="text" th:field="*{lastName}" th:class="${#fields.hasErrors('lastName')}? 'error'" />
		<br />

		<label th:text="#{spittr.register.email}" th:class="${#fields.hasErrors('email')}? 'error'"> Email</label>
		:
		<input type="text" th:field="*{email}" th:class="${#fields.hasErrors('email')}? 'error'" />
		<br />

		<label th:text="#{spittr.register.username}" th:class="${#fields.hasErrors('username')}? 'error'"> Username</label>
		:
		<input type="text" th:field="*{username}" th:class="${#fields.hasErrors('username')}? 'error'" />
		<br />


		<label th:text="#{spittr.register.password}" th:class="${#fields.hasErrors('password')}? 'error'"> Password</label>
		:
		<input type="password" th:field="*{password}" th:class="${#fields.hasErrors('password')}? 'error'" />
		<br />

		<!-- according  to its name attribute, the image data will be sent in the multipart request in the profilePicture part. -->
		<label th:text="#{spittr.register.profilePicture}">Profile picture</label>
		:
		<input type="file" name="profilePicture" accept="image/jpeg,image/png,image/gif" />
		<br />

		<input type="submit" value="Register" />
	</form>
</body>
</html>